* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Times New Roman', serif, ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Prevent overflow issues */
    background-color: #b80a21;

   
}


.navbar-brand
{
   color: #b80a21;
}


.btn-danger{
    background-color: #b80a21;
}


.profile {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    height: 350px;
 
}

.container{
    display: flex;
    text-align: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
    
}

.avatar {
    background-color: #000000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 auto 10px;
}

.user-id {
    font-size: 1.5em;
    color: #5F2E2E;
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.option {
    background-color: transparent;
    color: #5F2E2E;
    padding: 10px;
    border: 1px solid #5F2E2E;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.icon {
    margin-right: 10px;
}

.logout {
    color: #5F2E2E;
    border: 1px solid #5F2E2E;
}